.avia-form {
  max-width: 720px;
  height: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto;
  margin-bottom: 20px;
  gap: 2px;
}

.avia-form-input {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: auto;
  min-width: 144px;
  padding-left: 15px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.avia-form-input:first-child {
  border-radius: 5px 0px 0px 5px;
}

#dateEnd {
  border-radius: 0px 5px 5px 0px;
}

.middle-input {
  border-radius: 0;
}

.avia-form-input:focus {
  outline: 1px solid var(--primary-red);
}

.avia-form-button {
  display: inline-block;
  min-width: 80px;
  border: none;
  background-color: var(--primary-blue);
  color: #ffffff;
}

.datepicker-input {
  padding-left: 15px;
}

.datepicker-input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  padding-right: 15px;
}
