.avia-form {
  max-width: 720px;
  height: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto;
  margin-bottom: 20px;
  gap: 4px;
}

.avia-form-input {
  background: #ffffff;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: auto;
  min-width: 144px;
}

.avia-form-input:focus {
  outline: 1px solid var(--primary-red);
}

.avia-form-button {
  display: inline-block;
  min-width: 80px;
  border: none;
  background-color: var(--primary-blue);
  color: #ffffff;
}

.spec-placeholder::placeholder {
  padding-left: 15px;
}

.datepicker-input {
  padding-left: 15px;
}

.datepicker-input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  padding-right: 15px;
}
