::after,
::before {
  box-sizing: border-box;
}
:root {
  /*COLOURS*/
  --primary-blue: #2196f3;
  --primary-red: #ff6f32;
  --background-color: #f3f7fa;
  --primary-shadow: #dadada;
  --highlight-color: #f1fcff;
  --gray-text-color: #a0b0b9;

  /*TYPOGRAPHY*/
  /*h1*/
  --large-font: 24px;
  /*h2*/
  --medium-font: 15px;
  /*h3*/
  --small-font: 14px;
  /*h4*/
  --lesser-font: 13px;
  /*p*/
  --tiny-font: 12px;

  /*BLOCKS SHADOW & RADIUS*/
  --block-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  --block-radius: 5px;

  /*BUTTONS*/
  --btn-border: 1px solid #dfe5ec;
}

body {
  margin: 0;
  /*text-size/line-height, types*/
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 600;
  height: 100vh;
  font-kerning: normal;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: var(--large-font);
  color: var(--primary-blue);
}
h2,
::placeholder {
  font-size: var(--medium-font);
  font-weight: 400;
}
h3 {
  font-size: var(--small-font);
}
h4,
label {
  font-size: var(--lesser-font);
  font-weight: 400;
}
p {
  font-size: var(--tiny-font);
}

body {
  background-color: var(--background-color);
}

.header-logo {
  display: flex;
  justify-content: center;
}

.main {
  margin: auto;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-group {
  display: flex;
  gap: 20px;
}

.avia-form {
  width: 725px;
  height: 60px;
  display: flex;
  margin-bottom: 25px;
}

.avia-form-input {
  background: #ffffff;
  border-radius: 5px 5px 5px 5px;
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

::placeholder {
  padding-left: 15px;
}

hr {
  width: 725px;
  border: 1px solid var(--primary-shadow);
  transform: rotate(-0.08deg);
  margin-bottom: 25px;
}

.extra {
  background-color: white;
  box-shadow: var(--block-shadow);
  border-radius: var(--block-radius);
  padding: 20px 0;
  margin-bottom: 20px;
}

legend {
  padding: 0 20px 5px 20px;
}

.input-group {
  padding: 5px 20px;
}

.input-group:hover {
  background-color: var(--highlight-color);
}

label {
  padding-left: 10px;
}

/*BUTTONS*/

.button-group {
  margin-bottom: 20px;
  display: flex;
}

.select-btn {
  background-color: white;
  border: 1px solid #dfe5ec;
  padding: 15px;
  flex: 1;
}

.select-btn:hover {
  background-color: var(--highlight-color);
}

.select-btn:active {
  background-color: var(--primary-blue);
  color: white;
}

.browse_btn {
  background-color: var(--primary-blue);
  color: white;
  border: 1px solid #dfe5ec;
  border-radius: 5px;
  width: 502px;
  height: 50px;
}

/*FLIGHTS*/

.flight-item {
  height: 135px;
  width: 502px;
  background-color: #fff;
  border-radius: var(--block-radius);
  box-shadow: var(--block-shadow);
  margin-bottom: 20px;
}

.flight-item:hover {
  background-color: var(--highlight-color);
}

.fligth-item-header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.flight-item-body {
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
}

.gray {
  color: var(--gray-text-color);
}
